.communicationArea {
  background-color: #f7f8f9;
  text-align: center;
  padding: 180px 0;
  h2 {
    margin-bottom: 12px;
    line-height: 1.334;
    padding: 0 16px;

    font-size: 60px;
    color: #1e1e1e;
    font-weight: 700;
    font-family: LINESeedKR-Bd;
  }

  p {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 700;
    color: #767676;
  }

  ul {
    max-width: 1200px;
    margin: 70px auto 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    li {
      width: 100%;
      margin-bottom: 60px;

      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
      h3 {
        margin: 30px auto 12px;
        width: 320px;

        font-size: 24px;
        font-weight: 700;
      }
      div {
        width: 340px;
        margin: 0 auto;
        padding: 0;

        font-size: 14px;
        color: #616161;
        line-height: 1.6;
      }
    }
  }
}
