@mixin header($min) {
  .header {
    display: flex;
    // justify-content: if($min, space-between, space-around);
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 2;

    opacity: 0.97;
    background: if($min, none, #fff);
  }

  .header {
    .headerMenu {
      display: if($min, none, flex);
      justify-content: space-between;
      width: 381px;
    }
  }

  .header .headerMenu {
    .viewPoint {
      padding-bottom: 4px;
      border-bottom: 4px solid black;
      font-weight: 700;
    }
  }

  .header .headerMenu {
    a {
      font-size: 16px;
    }
  }

  .header :last-child {
    vertical-align: middle;
  }

  div {
    padding-right: 20px;
  }
  h1 {
    padding-left: 20px;
  }
}

@media (max-width: 870px) {
  @include header(true);
}

@media not (max-width: 870px) {
  @include header(false);
}
