@mixin seemore() {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
  width: 150px;
  height: 60px;
  line-height: 3.54;
  font-size: 14px;

  border-radius: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  img {
    width: 25px;
    height: 25px;
  }
  &:hover {
    color: white;
    background-color: $download-hover-color;
  }
}

@mixin imgArea($l, $min) {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: 530px;

  overflow: hidden;
  .serviceImg {
    position: absolute;
    top: 0;
    left: if($l, -95px, -200px);
  }
}

@mixin txtArea($min) {
  width: 590px;
  min-width: 590px;
  position: relative;

  @if ($min) {
    margin-left: 50px;
    padding-left: 50px;
    border-left: 1px dashed rgb(128, 128, 128);
  } @else {
    padding-left: 30px;
    border-right: 1px dashed rgb(128, 128, 128);
  }

  .serviceIcon {
    @if ($min) {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 30px;
      left: -30px;
    } @else {
      width: 80px;
      height: 80px;
      margin-top: 60px;
    }
    border-radius: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }

  h3 {
    font-size: if($min, 30px, 40px);
    margin: 20px 0 20px 0;
    line-height: 1.2;
    font-weight: 700;
  }

  h4 {
    font-size: if($min, 14px, 18px);
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.56;
    color: #07b53b;
  }

  div {
    margin-bottom: 60px;
    font-size: if($min, 14px, 18px);
    color: #777;
    line-height: 1.7;
  }

  a {
    @include seemore;
  }
}

@mixin mainService($min) {
  .mainService {
    width: 100%;

    @if ($min) {
      margin-left: 15%;
    }
  }
  .service {
    display: flex;
    @if ($min) {
      flex-direction: column-reverse;
    } @else {
      justify-content: center;
    }
    width: 100%;
  }

  .txtArea {
    @include txtArea($min);
  }

  .imgArea {
    @include imgArea(false, $min);
  }

  .imgArea__left {
    @include imgArea(true, $min);
  }
}

@media (max-width: 870px) {
  @include mainService(true);
}

@media not (max-width: 870px) {
  @include mainService(false);
}
