@mixin productButton($s, $min) {
  @if ($s) {
    color: #fff;
    background-color: #07b53b;
    border: 1px solid #07b53b;
  } @else {
    color: rgba(30, 30, 30, 0.7);
    background-color: transparent;
    border: 1px solid rgba(30, 30, 30, 0.2);
  }
  border-radius: 50px;
  padding: 8px if($min, 10px, 15px);
  font-size: if($min, 10px, 12px);
  font-weight: 700;
}

@mixin navigation($min) {
  .navigation {
    @if ($min) {
      display: inline;
      width: 100%;
    } @else {
      margin: 0;
      width: 200px;
      float: left;
    }

    ul {
      @if ($min) {
        display: flex;
      } @else {
        margin-left: 40%;
        float: left;
      }
      border-radius: 10px;
    }

    li {
      margin-bottom: 12px;
    }
  }
}

.selectBtn {
  @media (max-width: 870px) {
    @include productButton(true, true);
  }
  @media not (max-width: 870px) {
    @include productButton(true, fales);
  }
}

.productBtn {
  @media (max-width: 870px) {
    @include productButton(false, true);
  }
  @media not (max-width: 870px) {
    @include productButton(false, false);
  }
}

@media (max-width: 870px) {
  @include navigation(true);
}

@media not (max-width: 870px) {
  @include navigation(false);
}
