// 디자인 변수 값
// 색상 팔레트, 폰트 기본 설정
// 구역의 영역 변수 값

body {
  font-family: SFPro, Arial, Noto Sans JP, Noto Sans KR, sans-serif;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

$white-color: white;
