body {
  font-family: SFPro, Arial, Noto Sans JP, Noto Sans KR, sans-serif;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

$product-hover-color: #fff;
$download-hover-color: #07b53b;
